REACT_APP_CLIENT_ID=app
REACT_APP_CLIENT_SECRET=[REPLACE THIS WITH THE PROVIDED REACT_APP_CLIENT_SECRET from https://pim.aesirx.io]
REACT_APP_ENCRYPT=encrypt
REACT_APP_LICENSE=[REPLACE THIS WITH THE PROVIDED REACT_APP_LICENSE from https://pim.aesirx.io]
REACT_APP_DAM_LICENSE=[REPLACE THIS WITH THE PROVIDED REACT_APP_LICENSE from https://pim.aesirx.io]
REACT_APP_TEST_MODE=false