@import '../../../scss/utils/bootstrap.scss';

.field-single-image {
  width: 248px;
  height: 248px;
  outline: 0;
}
.image-wrapper {
  &:hover {
    .delete-icon {
      display: block;
    }
  }
}
.delete-icon {
  display: none;
  position: absolute;
  top: 13px;
  right: 13px;
  &:hover {
    background-color: $gray-300;
  }
}
.field-multi-image {
  .delete-icon {
    top: 5px;
    right: 5px;
  }
}
